<div class="page-body">
    <app-modal-animation [modalID]="'UserModal'" [modalClass]="'md-effect-8'" *ngIf="isFormReady">
      <div>
        <div class="md-tabs md-card-tabs">
          <form class="md-float-material form-material m-t-40 m-b-40 ng-invalid:not" [formGroup]="userModalForm"
            (ngSubmit)="saveUser()">
            <ngb-tabset>
              <ngb-tab title="Main Info">
                <ng-template ngbTabContent>
                  <div [@fadeInOutTranslate] class="m-t-15">
                    <!-- personal card start -->
                    <div class="card">
                      <div class="card-body">
                        <div class="edit-info">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="general-info form-material">
                                <div class="row">
                                  <div class="col-lg-6 ">
                                    <div class="material-group">
                                      <div class="material-addone">
                                        <i class="icofont icofont-user"></i>
                                      </div>
                                      <div class="form-group form-primary">
                                        <label>First Name: </label>
                                        <input type="text" class="form-control" formControlName="user_firstNameInput" required="">
                                        <div class="messages text-danger" *ngIf="userModalFormErrors.user_firstNameInput">{{userModalFormErrors.user_firstNameInput}}</div>
                                        <span class="form-bar"></span>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-lg-6 ">
                                    <div class="material-group">
                                      <div class="material-addone">
                                        <i class="icofont icofont-user"></i>
                                      </div>
                                      <div class="form-group form-primary">
                                        <label>Last Name: </label>
                                        <input type="text" class="form-control" formControlName="user_lastNameInput" required="">
                                        <div class="messages text-danger" *ngIf="userModalFormErrors.user_lastNameInput">{{userModalFormErrors.user_lastNameInput}}</div>
                                        <span class="form-bar"></span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 ">
                                      <div class="material-group">
                                        <div class="material-addone">
                                          <i class="icofont icofont-user"></i>
                                        </div>
                                        <div class="form-group form-primary">
                                          <label>Username: </label>
                                          <input type="text" class="form-control" formControlName="user_usernameInput" required="">
                                          <div class="messages text-danger" *ngIf="userModalFormErrors.user_usernameInput">{{userModalFormErrors.user_usernameInput}}</div>
                                          <span class="form-bar"></span>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-lg-6 ">
                                      <div class="material-group">
                                        <div class="material-addone">
                                          <i class="icofont icofont-envelope"></i>
                                        </div>
                                        <div class="form-group form-primary">
                                          <label>Email: </label>
                                          <input type="text" class="form-control" formControlName="user_emailInput" required="">
                                          <div class="messages text-danger" *ngIf="userModalFormErrors.user_emailInput">{{userModalFormErrors.user_emailInput}}</div>
                                          <span class="form-bar"></span>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                <div class="row">
                                  <div class="col-lg-12">
                                    <div class="material-group">
  
                                      <div class="material-addone">
                                        <i class="icofont icofont-hammer"></i>
                                      </div>
                                      <div class="form-group form-primary">
                                        <label>Ruoli: </label><br>
                                        <label formArrayName="userAssignedRoles" *ngFor="let role of userModalForm.controls.userAssignedRoles.controls; let i = index">
                                          <input type="checkbox" [formControlName]="i">
                                          {{userAssignedRoles[i].name}}
                                        </label>
                                        <div class="messages text-danger" *ngIf="submitted && userModalForm.controls.userAssignedRoles.invalid">Devi
                                          selezionare almeno un ruolo.</div>
                                        <span class="form-bar"></span>
                                        <span class="form-bar"></span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="ContractInfo">
                <ng-template ngbTabContent>
                  <div [@fadeInOutTranslate] class="m-t-15">
                    <div class="card">
                      <div class="card-body">
                        <div class="edit-info">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="general-info form-material">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="material-group">
                                                    <div class="material-addone">
                                                        <i class="icofont icofont-calendar"></i>
                                                    </div>
                                                    <div class="form-group form-primary">
                                                        <label>Valid From: </label>
                                                        <my-date-picker locale="en"
                                                            [(ngModel)]="startDate"
                                                            formControlName="user_contract_startDateInput"
                                                            [options]="startDatePickerOptions"
                                                            [(ngModel)]="startDatePickerModel" required>
                                                        </my-date-picker>
                                                        <div class="messages text-danger"
                                                            *ngIf="userModalFormErrors.user_contract_startDateInput">
                                                            {{userModalFormErrors.user_contract_startDateInput}}
                                                        </div>
                                                        <span class="form-bar"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="material-group">
                                                    <div class="material-addone">
                                                        <i class="icofont icofont-calendar"></i>
                                                    </div>
                                                    <div class="form-group form-primary">
                                                        <label>Valid To: </label>
                                                        <my-date-picker locale="en"
                                                            [(ngModel)]="endDate"
                                                            formControlName="user_contract_endDateInput"
                                                            [options]="endDatePickerOptions"
                                                            [(ngModel)]="endDatePickerModel" required>
                                                        </my-date-picker>
                                                        <div class="messages text-danger"
                                                            *ngIf="userModalFormErrors.user_contract_endDateInput">
                                                            {{userModalFormErrors.user_contract_endDateInput}}
                                                        </div>
                                                        <span class="form-bar"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="general-info form-material">
                                        <div class="row">
                                            <div class="col-lg-12 ">
                                                <div class="material-group">
                                                    <div class="material-addone">
                                                        <i class="icofont icofont-time"></i>
                                                    </div>
                                                    <div class="form-group form-primary">
                                                        <label>Annual Leave Days: </label>
                                                        <input
                                                            [formControl]="userModalForm.controls['user_contract_annualLeaveDaysInput']"
                                                            class="form-control"
                                                            formControlName="user_contract_annualLeaveDaysInput"
                                                            required="">
                                                        <div class="messages text-danger"
                                                            *ngIf="userModalForm.user_contract_annualLeaveDaysInput">
                                                            {{userModalForm.user_contract_annualLeaveDaysInput}}
                                                        </div>
                                                        <span class="form-bar"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
            <div class="row">
              <div class="col-md-6">
                <button type="button" class="btn btn-outline-danger btn-round btn-md btn-block text-center m-b-20 ripple light"
                  (click)="closeMyModal('UserModal')">Cancel</button>
              </div>
              <div class="col-md-6">
                <button [hidden]="loadingModal" [disabled]="submitted && userModalForm.touched && userModalForm.invalid"
                  type="submit" class="btn btn-outline-success btn-round btn-md btn-block text-center m-b-20 ripple light">Save</button>
                <div [hidden]="!loadingModal" class="btn btn-outline-success btn-round btn-md btn-block text-center m-b-20 ripple light">Waiting...
                  <i class="fa fa-spin fa-spinner" style="font-size:20px"></i></div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </app-modal-animation>
    <div class="row">
      <div class="col-sm-12">
        <app-card [title]="'User List'">
          <div class="dt-responsive">
            <div class="row">
              <div class="col-md-4 text-center" style="margin-left: 33%;">
                <button class="btn btn-outline-primary btn-round btn-sm btn-block text-center m-b-20 ripple light"
                  (click)="handleEvent('Create')"><i class="fa fa-fw fa-plus"></i>
                  Insert User
                </button>
              </div>
            </div>
            <div class="container">
  
              <div class="form">
                <mat-form-field floatPlaceholder="never" color="accent">
                  <input matInput #filter placeholder="Filter users">
                </mat-form-field>
              </div>
  
              <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
  
                <ng-container matColumnDef="firstName">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>First Name</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.person.firstName}}</mat-cell>
                </ng-container>
  
                <ng-container matColumnDef="lastName">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.person.lastName}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="username">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Username</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.username}}</mat-cell>
                  </ng-container>
    
                  <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.email}}</mat-cell>
                  </ng-container>
  
                <!-- actions -->
                <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef>Actions
                    <!-- <button mat-icon-button color="primary">
                      <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                    </button> -->
                  </mat-header-cell>
  
                  <mat-cell  *matCellDef="let row; let i=index;">
                    <button mat-icon-button color="accent" (click)="handleEvent('Update', row)">
                      <mat-icon aria-label="Edit">edit</mat-icon>
                    </button>
  
                    <button  mat-icon-button color="accent" (click)="deleteSelectedUser(row)">
                      <mat-icon aria-label="Delete">delete</mat-icon>
                    </button>
  
                  </mat-cell>
                </ng-container>
  
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
  
  
              <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
                No results
              </div>
  
              <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]">
              </mat-paginator>
            </div>
          </div>
        </app-card>
      </div>
    </div>
  </div>