
  /* You can add global styles to this file, and also import other style files */
  @import '~@angular/material/theming';
  @import url('//fonts.googleapis.com/icon?family=Material+Icons');
  
  @include mat-core();
  
  $primary: mat-palette($mat-indigo, 500);
  $accent:  mat-palette($mat-blue, 500, A200, A400);
  $warn:    mat-palette($mat-red, 500);
  
  $config: mat-typography-config();
  
  $theme: mat-light-theme($primary, $accent, $warn);
  
  @include angular-material-theme($theme);
  
  body {
    font-family: mat-font-family($config);
    font-weight: normal;
    margin: 0;
  }
  
  md-icon{
    font-family: 'Material Icons' !important;
  }
  
/* Structure */
.container {
    display: flex;
    flex-direction: column;
  }
  
  /* Toolbar */
  .spacer {
    flex: 1 1 auto;
  }
  
  /* Filter */
  .form {
    min-height: 56px;
    max-height: 56px;
    display: flex;
    align-items: center;
    padding: 8px 24px 0;
    font-size: 20px;
    justify-content: space-between;
    border-bottom: 1px solid transparent;
  }
  
  .mat-form-field {
    font-size: 14px;
    flex-grow: 1;
    margin-top: 8px;
  }
  
  /* Mat table */
  .no-results {
    display: flex;
    justify-content: center;
    padding: 14px;
    font-size: 14px;
    font-style: italic;
  }

.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1){
  flex: 0 0 20%;
}

.mat-cell:nth-child(2),
.mat-header-cell:nth-child(2){
  flex: 0 0 20%;
}

.mat-cell:nth-child(3),
.mat-header-cell:nth-child(3){
  flex: 0 0 20%;
}

.mat-cell:nth-child(4),
.mat-header-cell:nth-child(4){
  flex: 0 0 20%;
}

.mat-cell:nth-child(5),
.mat-header-cell:nth-child(5){
  flex: 0 0 20%;
}