<router-outlet>
    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-clip-rotate"> 
        <span *ngIf="ngxSpinnerText" class="text-white">{{ngxSpinnerText}}</span>
    </ngx-spinner>
</router-outlet>
