<div *ngIf="loading" class="loader animation-start">
  <span class="circle delay-1 size-2"></span>
  <span class="circle delay-2 size-4"></span>
  <span class="circle delay-3 size-6"></span>
  <span class="circle delay-4 size-7"></span>
  <span class="circle delay-5 size-7"></span>
  <span class="circle delay-6 size-6"></span>
  <span class="circle delay-7 size-4"></span>
  <span class="circle delay-8 size-2"></span>
</div>

<div id="pcoded" class="pcoded" [attr.pcoded-device-type]="pcodedDeviceType" [attr.fream-type]="freamType"
  [attr.layout-type]="layoutType" (window:resize)="onResize($event)">

  <section class="login-block">
    <!-- Container-fluid starts -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <!-- Authentication card start -->
          <form class="md-float-material form-material m-t-40 m-b-40 ng-invalid:not" [formGroup]="userLoginForm"
            (ngSubmit)="logInUser()">
            <div class="auth-box card">
              <div class="card-block">
                <div class="row m-t-30">
                  <div class="col-md-12">
                    <a href="https://www.lufthansa-industry-solutions.com/" target="_blank" class="ripple light" style="margin-left: 33%;">
                      <img class="img-fluid" src="assets/images/LHIND.png" width="150" height="100" alt="DL Services S.R.L" />
                    </a>
                    <br/>
                  </div>
                </div>
                <div class="material-group material-group-primary">
                  <div class="material-addone">
                    <i class="icofont icofont-ui-user"></i>
                  </div>
                  <div class="form-group form-primary">
                    <input type="text" class="form-control" required="" formControlName="user_usernameInput">
                    <div class="messages text-danger" *ngIf="userLoginFormErrors.user_usernameInput">
                      {{userLoginFormErrors.user_usernameInput}}</div>
                    <span class="form-bar"></span>
                    <label class="float-label">Username</label>
                  </div>
                </div>
                <div class="material-group material-group-primary">
                  <div class="material-addone">
                    <i class="icofont icofont-ui-password"></i>
                  </div>
                  <div class="form-group form-primary">
                    <input type="password" class="form-control" required="" formControlName="user_passwordInput"
                      passwordToggle>
                    <div class="messages text-danger" *ngIf="userLoginFormErrors.user_passwordInput">
                      {{userLoginFormErrors.user_passwordInput}}</div>
                    <span class="form-bar"></span>
                    <label class="float-label">Password</label>
                  </div>
                </div>
                <div class="row m-t-30">
                  <div class="col-md-12">
                    <button [disabled]="submitted && loginForm.invalid" type="submit"
                      class="btn btn-outline-primary btn-round btn-md btn-block text-center m-b-20 ripple light">LOGIN</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <!-- Authentication card end -->
        </div>
        <!-- end of col-sm-12 -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of container-fluid -->

  </section>
</div>
<div class="footer">
  <p class="text-center m-b-0">Copyright &copy; {{year}} {{customerName}} , All rights reserved.</p>
</div>