<div class="page-body">
  <app-modal-animation *ngIf="isFormReady" [modalID]="'ApplicationModal'" [modalClass]="'md-effect-8'">
    <div style="max-height:650px; overflow-y:auto; overflow-x: hidden">
        <div class="md-tabs md-card-tabs">
          <ngb-tabset>
            <ngb-tab title="{{actionBasedTitle}}">
              <ng-template ngbTabContent>
                <div [@fadeInOutTranslate] class="m-t-15">
                  <!-- personal card start -->
                  <form class="md-float-material form-material m-t-40 m-b-40 ng-invalid:not"
                    [formGroup]="applicationModalForm" (ngSubmit)="saveApplication()">
                    <div class="card">
                      <div class="card-header">
                        <h5>{{modalActionTitle}}</h5>
                      </div>
                      <div class="card-body">
                        <div class="edit-info">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="general-info form-material">
                                <div class="row">
                                  <div class="col-lg-12">
                                    <div class="general-info form-material">
                                      <div class="row">
                                        <div class="col-lg-6">
                                          <div class="material-group">
                                            <div class="material-addone">
                                              <i class="icofont icofont-calendar"></i>
                                            </div>
                                            <div class="form-group form-primary">
                                              <label>Start: </label>
                                              <my-date-picker locale="en" [(ngModel)]="startDate"
                                                formControlName="application_startDateInput"
                                                [options]="startDatePickerOptions" [(ngModel)]="startDatePickerModel"
                                                required>
                                              </my-date-picker>
                                              <div class="messages text-danger"
                                                *ngIf="applicationModalFormErrors.application_startDateInput">
                                                {{applicationModalFormErrors.application_startDateInput}}
                                              </div>
                                              <span class="form-bar"></span>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-lg-6">
                                          <div class="material-group">
                                            <div class="material-addone">
                                              <i class="icofont icofont-calendar"></i>
                                            </div>
                                            <div class="form-group form-primary">
                                              <label>End: </label>
                                              <my-date-picker locale="en" [(ngModel)]="endDate"
                                                formControlName="application_endDateInput"
                                                [options]="endDatePickerOptions" [(ngModel)]="endDatePickerModel"
                                                required>
                                              </my-date-picker>
                                              <div class="messages text-danger"
                                                *ngIf="applicationModalFormErrors.application_endDateInput">
                                                {{applicationModalFormErrors.application_endDateInput}}
                                              </div>
                                              <span class="form-bar"></span>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-lg-6 ">
                                          <div class="material-group">
                                            <div class="material-addone">
                                              <i class="icofont icofont-hammer"></i>
                                            </div>
                                            <div class="form-group form-primary">
                                              <label>Leave Type: </label>
                                              <select #workingHourType class="form-control"
                                                [ngModel]="selectedLeaveType" formControlName="leaveTypeDPList"
                                                (ngModelChange)="OnChangeLeaveTypeSite($event)" required="">
                                                <option [ngValue]="leaveType" *ngFor="let leaveType of leaveTypes">
                                                  {{leaveType.type}}</option>
                                              </select>
                                              <div class="messages text-danger"
                                                *ngIf="applicationModalFormErrors.leaveTypeDPList">
                                                {{applicationModalFormErrors.leaveTypeDPList}}</div>
                                              <span class="form-bar"></span>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <button type="button" class="btn btn-outline-danger btn-round btn-md btn-block text-center m-b-20 ripple light"
                          (click)="closeMyModal('ApplicationModal')">Cancel</button>
                      </div>
                      <div class="col-md-6">
                        <button [hidden]="loadingModal" [disabled]="submitted && userModalForm.touched && userModalForm.invalid"
                          type="submit" class="btn btn-outline-success btn-round btn-md btn-block text-center m-b-20 ripple light">Save</button>
                        <div [hidden]="!loadingModal" class="btn btn-outline-success btn-round btn-md btn-block text-center m-b-20 ripple light">Waiting...
                          <i class="fa fa-spin fa-spinner" style="font-size:20px"></i></div>
                      </div>
                    </div>
                  </form>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>
    </app-modal-animation>
  <div class="row">
    <div class="col-sm-12">
      <app-card [title]="'Application List'">
        <div class="dt-responsive">
          <div class="row">
            <div class="col-md-4">
              <label>Remaining Annual Leave Days: {{currentUser?.remainingLeaveDays}}</label>
            </div>
            <div class="col-md-4 text-center">
              <button class="btn btn-outline-primary btn-round btn-sm btn-block text-center m-b-20 ripple light"
                (click)="handleEvent('Create')"><i class="fa fa-fw fa-plus"></i>
                Insert Application
              </button>
            </div>
          </div>
          <div class="container">

            <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">

              <ng-container matColumnDef="startDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Start</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.startDate}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="endDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header>End</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.endDate}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="leaveType">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Leave Type</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{getLeaveTypeName(row.leaveTypeId)}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.applicationStatus}}</mat-cell>
              </ng-container>

              <!-- actions -->
              <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>Actions
                  <!-- <button mat-icon-button color="primary">
                      <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                    </button> -->
                </mat-header-cell>

                <mat-cell *matCellDef="let row; let i=index;">
                  <button mat-icon-button color="accent" (click)="handleEvent('Update', row)">
                    <mat-icon aria-label="Edit">edit</mat-icon>
                  </button>

                  <button mat-icon-button color="accent" (click)="deleteSelectedApplication(row)">
                    <mat-icon aria-label="Delete">delete</mat-icon>
                  </button>

                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>


            <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
              No results
            </div>

            <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
          </div>
        </div>
      </app-card>
    </div>
  </div>
</div>